*{
    background-color: black;
}

div{
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
    color: white;
    text-align: center;
}

#photo{
    border: 5px solid white;
    height: 200px;
    width: 100%;
}
h1{
    font-size: 25px;
}
p{
    font-size: 12px;
}